# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

__pycache__/
deadlinks.tsv
out
download
dump.log
dump.tar.gz
dump.zip

#wget stuff
download/
download?doi=*
url?sa=*
index.html?reload*
stamp.jsp*
wget-log

.idea
*.bak
*.pdf
*.zip
*.mobi
*.epub

